<!-- https://github.com/kshep425/portfolio-bootstrap.git -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Keisha Shepherd, Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>KDS Dream Tech</title>
    <!-- Hotjar Tracking Code for https://kshep425.github.io/ -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1644929, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="./css/cover.css" rel="stylesheet">

</head>

<body>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <!-- This contains the header with the logo and nav links -->
        <header class="masthead text-center">
            <div class="inner">
                <h3 class="masthead-brand">KDS Dream Tech</h3>
                <nav
                    class="nav nav-masthead justify-content-center navbar navbar-expand-lg bg-transparent navbar-dark text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="resume.html">Resume</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="portfolio.html">Portfolio</a>
                            </li>
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Blog
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="blogs/my_first_week_of_bootcamp.html">Week 1</a>
                                    <a class="dropdown-item" href="blogs/my_second_week_of_bootcamp.html">Week 2</a>
                                    <a class="dropdown-item" href="blogs/my_third_week_of_bootcamp.html">Week 3</a>
                                    <a class="dropdown-item" href="blogs/my_fourth_week_of_bootcamp.html">Week 4</a>
                                    <a class="dropdown-item" href="blogs/my_fifth_week_of_bootcamp.html">Week 5</a>
                                    <a class="dropdown-item" href="blogs/my_sixth_week_of_bootcamp.html">Week 6</a>
                                    <a class="dropdown-item" href="blogs/my_seventh_week_of_bootcamp.html">Week 7</a>
                                    <a class="dropdown-item" href="blogs/my_eigth_week_of_bootcamp.html">Week 8</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="card contact">

            <h1 class="card-title">Contact Me</h1>

            <p class="card-text">
                You've made it this far, so you may as well reach out!
            </p>
            <p class="card-text">
                Get in touch with me for project collaborations, questions about career, and especially job
                opportunities!
            </p>
            <h3 class="d-block card-text">
                <a id="" class="" href="resume/resume.pdf" target="_blank">
                    Contact Info
                </a>
            </h3>
            <br>
            <div class="follow-me horizontal mt-auto d-block mx-auto">
                <p class="mb-1 text-center">Follow me</p>
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style a2a_follow btn-group " role="group">
                    <a class="a2a_button_facebook" data-a2a-follow="keisha.shepherd.5" target="_blank"
                        href="https://facebook.com/keisha.shepherd.5"></a>
                    <a class="a2a_button_github" data-a2a-follow="kshep425"></a>
                    <a class="a2a_button_linkedin" data-a2a-follow="keisha-shepherd-02a6936b"></a>
                    <a class="a2a_button_instagram" data-a2a-follow="kcheer18"></a>
                    <a class="a2a_button_youtube_channel" data-a2a-follow="UCvMvvJ439PvwCCVH6tN1lGg"></a>
                </div>
            </div>
        </div>

        <footer class="mastfoot mt-auto text-center">
            <div class="inner">
                <p>Copyright © </p>
            </div>
        </footer>
    </div>

    <a class="carousel-control-prev" href="blog.html" role="button" data-slide="prev" data-toggle="tooltip"
        title="Blog">
        <span class="carousel-control-prev-icon  align-self-center border border-dark bg-secondary"
            aria-hidden="true"></span>
        <span class="sr-only">Prev</span>
    </a>

    <a class="carousel-control-next" href="index.html" role="button" data-slide="next" data-toggle="tooltip"
        title="Contact Home">
        <span class="carousel-control-next-icon align-self-center border border-dark bg-secondary"
            aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

    <!-- Script to add the social media link images -->
    <script async src="https://static.addtoany.com/menu/page.js">
    // document.cookie = "SameSite='none'; secure"
    </script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <!-- BOOTSTRAP Javascript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- My Script -->
    <script src="assets/js/index.js"></script>

</body>

</html>