    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">KDS Dream Tech</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="/"
                        class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="/assets/resume.html"
                        class="pure-menu-link">Resume</a></li>
                <li class="pure-menu-item"><a href="/assets/portfolio.html"
                        class="pure-menu-link">Portfolio</a></li>
                <li class="pure-menu-item"><a href="/assets/blog.html"
                        class="pure-menu-link">Blog</a></li>
                <li class="pure-menu-item"><a href="/assets/contact.html"
                        class="pure-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>